html {
    color:#fff;
}

body {

}



h1 {
    font-size: 20px;
    
    padding-left: 1em;
}

#wrapper {
    display: grid;
    height: 100vh;
    grid-template-areas:    "header"
                            "tree"
                            "buffer"
                            "items"
                            "footer";
    grid-template-rows: .25fr 4fr 4fr 4fr 1.5fr; 
}


header {
    grid-area: header;
    display: flex;
    background-color: #686868;
    color: #fff;

}
#name {
    grid-area: header;
    display: flex;
    padding: 0 9em;
    margin-top: 1rem;
    justify-content: right;
    justify-self: right;
    width: 10vw;
    border: 1px solid white;
}

#tree {
    grid-area: tree;
    background-color: #35363D;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    justify-content: center;
}

#background {
    grid-area: buffer;
    /* background-image: url("Assets/valley.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 60%;
    transform: scale(2);
    z-index: -1;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px; */
    z-index: -1;
}

#items {
    grid-area: items;
    background-color: #35363D;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

footer {
    grid-area: footer;
    border-top: 5px solid #FFF;
    background-image: url("Assets/trees.jpg");
    background-position: 0px -900px;
    background-repeat: no-repeat;
    padding-left: 2em;
}

#tree article {
    border: 5px solid white;
    flex: 0 0 375px;
    flex-flow: row wrap;
    height: 375px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #686868;
} 

#grad {
    background-image: linear-gradient(to bottom right, #E8FDF5, #244D3E);
}
#items article {
    position: relative;
    border: 5px solid white;
    margin: 5px;
    flex: 0 0 21%;
    height: 0;
    padding-bottom: 21%;
    flex-flow: row wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image
{
    background-color: #324E44;
}

.text {
    background-color: #686868;
}
#copy {
    float: right;
    padding-right: 5em;
    width: 25vw;
    text-align: right;
}